<h2>Lista de Personagens para adquirir:</h2>
<hr>
<section class="d-flex align-items-center justify-content-center flex-wrap">
    <div class="card m-2" style="width: 18rem;" *ngFor="let p of personagens">
        <img [src]="p.image" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ p.name }}</h5>
            <p class="card-text">{{ p.gender }}</p>
            <p class="card-text">{{ p.species }}</p>
            <p class="card-text">{{ p.status }}</p>
        </div>
        <div class="card-body">
            <button class="btn btn-primary">Obter Valor do produto</button>
        </div>
    </div>
</section>